.card-18 {
  background: hsl(167, 90%, 96%);

  .card {
    background: hsl(168, 90%, 88%);
    max-width: 576px;
    margin-inline: auto;
    border-radius: 0.7rem;
    padding: 2rem 3rem 4rem;
    text-align: center;
    position: relative;

    img {
      border-radius: 50%;
      box-shadow: 0 0 0 6px hsl(167, 90%, 96%), 0 0 0 9px hsl(29, 100%, 50%);
      width: 100px;
      margin-bottom: 1rem;
    }

    h3 {
      color: hsl(29, 100%, 50%);
    }

    p {
      color: hsl(29, 100%, 20%);
    }

    .card__social {
      background: hsl(29, 100%, 50%);
      box-shadow: 0 5px 15px hsl(29, 100%, 60%);
      border-radius: 3rem;
      padding: 0.8rem;

      position: absolute;
      bottom: -1.8rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: start;
      width: 215px;
      overflow: hidden;
      transform-origin: 17px 17px;

      .card__social-control {
        position: relative;
        transform-origin: 17px 17px;
        transition: 0.3s;

        .toggle {
          background: hsl(168, 90%, 88%);
          color: hsl(29, 100%, 50%);
          font-size: 1.2rem;
          padding: 0.5rem;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          z-index: 1;
        }

        ul,
        p {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          padding-left: 3.5rem;
        }

        p {
          top: 0.5rem;
          color: hsl(0, 0%, 100%);
          font-size: 0.85rem;
        }

        ul {
          display: flex;
          gap: 0.5rem;
          transform: rotate(135deg);
          transform-origin: 17px 17px;

          a {
            background: hsl(168, 90%, 88%);
            color: hsl(29, 100%, 20%);
            font-size: 1.2rem;
            padding: 0.5rem;
            border-radius: 50%;
            display: flex;
          }
        }
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

  .card__social.active {
    animation: up-animation 0.6s ease-in-out forwards;
  }

  @keyframes up-animation {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(-3deg);
    }

    75% {
      transform: rotate(1deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .card__social.down-animation {
    animation: down-animation 0.6s ease-in-out forwards;
  }

  @keyframes down-animation {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(3deg);
    }

    75% {
      transform: rotate(-1deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .active .card__social-control {
    transform: rotate(-135deg);
  }
}
