.card-2 {
  background: linear-gradient(hsl(28, 100%, 58%), hsl(261, 100%, 50%));

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card {
    position: relative;
    background: hsl(209, 100%, 8%);
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
  }

  .card__data {
    position: relative;
    z-index: 1;

    img {
      width: 200px;
      height: 200px;
      margin-bottom: 0.5rem;
      animation: float-img 2s ease-in-out infinite;
    }

    h2 {
      color: hsl(0, 0%, 100%);
      font-size: 1.9rem;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    p {
      color: hsl(209, 40%, 40%);
    }
  }

  .card__shapes {
    position: absolute;
    inset: 0;
    margin: auto;
    top: -3rem;
    width: 80%;
    height: 100%;

    display: grid;
    gap: 2.5rem;
  }

  .card__shape {
    background: linear-gradient(90deg, hsl(261, 100%, 50%), hsl(28, 100%, 58%));
    border-radius: 2rem;
    width: 100%;
    height: 40px;
    transform: rotate(-20deg);
    opacity: 0;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@   ANIMATION DELAYS  @@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .card__shape:nth-child(1) {
    animation-delay: 0.1s;
  }

  .card__shape:nth-child(2) {
    animation-delay: 0.2s;
  }

  .card__shape:nth-child(3) {
    animation-delay: 0.3s;
  }

  .card__shape:nth-child(4) {
    animation-delay: 0.4s;
  }

  .card__shape:nth-child(5) {
    animation-delay: 0.5s;
  }

  .card__shape:nth-child(6) {
    animation-delay: 0.6s;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@       HOVER      @@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .card:hover .card__shape {
    animation-name: shape;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@     ANIMATION    @@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @keyframes float-img {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes shape {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0.1;
    }

    40% {
      opacity: 0.3;
    }

    60% {
      opacity: 0.7;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@    BREAKPOINT    @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1024px) {
  .card-2 {
    .cards {
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: 40%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }

    .cards::-webkit-scrollbar {
      display: none;
    }

    .card {
      padding: 2rem;
      scroll-snap-align: start;
    }

    .card__data {
      img {
        width: 170px;
        height: 170px;
        margin-bottom: 0;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card-2 {
    .cards {
      grid-auto-columns: 80%;
      gap: 1.5rem;
    }
  }
}

@media screen and (max-width: 374px) {
  .card-2 {
    font-size: 0.8rem;

    .cards {
      grid-auto-columns: 90%;
      gap: 1rem;
    }
  }
}
