.card-6 {
  background: hsl(338, 70%, 97%);

  .card {
    background: hsl(0, 0%, 100%);
    border-radius: 2rem 2rem 2rem 0;
    padding: 0.3rem;
    max-width: 350px;
    max-height: 300px;
    margin-inline: auto;
    overflow: hidden;

    transition: max-height 0.3s;

    .card__img {
      position: relative;
      background: hsl(0, 0%, 92%);
      border-radius: 1.8rem;
      height: 260px;

      img {
        width: 200px;
        height: 90%;
        border-end-end-radius: 1.8rem;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .name {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;

        h2 {
          font-family: '700';
        }

        span {
          color: hsl(210, 10%, 40%);
        }
      }

      button {
        position: absolute;
        bottom: -1rem;
        left: 0.5rem;
        z-index: 1;

        background: hsl(338, 70%, 50%);
        display: flex;
        border-radius: 50%;
        padding: 0.2rem;
        box-shadow: 2px 2px 10px hsl(338, 70%, 50%);

        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

        i {
          color: hsl(210, 10%, 93%);
          font-size: 2rem;
        }
      }
    }

    .card__data {
      padding: 2.5rem 1rem 1rem;
      text-align: end;

      transform: translateY(10rem);
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      .rating {
        color: hsl(338, 70%, 80%);
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@ Js Classes @@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .card.active {
    max-height: 500px;
  }

  .card.active .card__data {
    transform: translateY(0);
  }

  .card.active button {
    transform: rotate(180deg);
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@    BREAKPOINT    @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 374px) {
  .card-6 {
    .card {
      .card__img {
        height: 250px;

        img {
          width: 170px;
        }
      }
    }
  }
}
