@font-face {
  font-family: 'card-15-500';
  src: url(../fonts/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: 'card-15-600';
  src: url(../fonts/BarlowSemiCondensed-SemiBold.ttf);
}

.card-15 {
  font-family: 'card-15-500';
  background: hsl(210, 46%, 95%);

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card {
      border-radius: 0.5rem;
      padding: 2rem;

      .card__info {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.8rem;

        .card__info-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid hsl(263, 55%, 72%);
        }

        .card__info-details {
          span {
            display: block;
            color: hsl(210, 46%, 95%);
          }

          small {
            color: hsla(210, 46%, 95%, 0.4);
          }
        }
      }

      .card__paragraph {
        font-family: 'card-15-600';
        font-size: 1.3rem;
        margin-bottom: 1rem;

        color: hsl(210, 46%, 95%);
      }

      .card__review {
        color: hsla(210, 46%, 95%, 0.6);
      }
    }

    .card:nth-child(1) {
      position: relative;
      background: hsl(263, 55%, 52%);
      grid-column: 1/3;

      .card-quote {
        position: absolute;
        color: hsla(210, 46%, 95%, 0.3);
        font-size: 8rem;
        right: 4rem;
        top: 0.5rem;
      }
    }

    .card:nth-child(2) {
      background: hsl(217, 19%, 35%);
    }

    .card:nth-child(4) {
      background: hsl(219, 29%, 14%);
      grid-column: 2/4;
    }

    .card:nth-child(5) {
      grid-column: 4/5;
      grid-row: 1/3;
    }

    .card:nth-child(3),
    .card:nth-child(5) {
      background: hsl(0, 0%, 100%);
      box-shadow: 5px 5px 30px hsl(0, 0%, 85%);

      .card__info {
        .card__info-details {
          span {
            color: hsl(219, 29%, 14%);
          }

          small {
            color: hsla(219, 29%, 14%, 0.5);
          }
        }
      }

      .card__paragraph {
        color: hsl(219, 29%, 14%);
      }

      .card__review {
        color: hsla(219, 29%, 14%, 0.7);
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@    BREAKPOINT    @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 991px) {
  .card-15 {
    font-size: 0.9rem;

    .cards {
      grid-template-columns: 1fr;
      gap: 1.5rem;

      .card:nth-child(1) {
        grid-column: auto;

        .card-quote {
          right: 0.5rem;
          top: 0.5rem;
        }
      }

      .card:nth-child(4) {
        grid-column: auto;
      }

      .card:nth-child(5) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@     truncate    @@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 575px) {
  .card-15 {
    .cards {
      .card {
        .card__review {
          // max-width: 10rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .card-15 {
    .cards {
      .card {
        padding: 1.5rem;
      }

      .card:nth-child(1) {
        .card-quote {
          font-size: 6rem;
          right: 0rem;
          top: 2rem;
        }
      }
    }
  }
}
