.card-20 {
  background: #ebefff;

  .card {
    max-width: 400px;
    margin-inline: auto;

    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: repeat(4, auto);

    .card__head {
      position: relative;
      padding: 2rem 2rem 10rem 2rem;
      text-align: center;
      border-radius: 0.8rem;
      box-shadow: 0 0 4px 0 #9dacfb;

      grid-column: 1/4;
      grid-row: 1/3;

      .mesh-bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
      }

      h2 {
        position: relative;
        margin-bottom: 0.5rem;
        color: #ffffff;
      }

      p {
        position: relative;
        color: #dedede;
        margin-bottom: 1rem;
      }
    }

    .card__box {
      background: #ffffff;
      border-radius: 0.8rem;
      padding: 2.5rem 2rem;
      box-shadow: 0 2px 4px 0 #d7deff;

      display: grid;
      text-align: center;

      grid-column: 2/3;
      grid-row: 2/5;
      position: relative;

      h3 {
        margin-bottom: 1.5rem;
      }

      .status {
        margin-bottom: 2rem;

        img {
          width: 88px;
          height: 88px;
          border-radius: 100%;
          box-shadow: 0 0 8px 0 #d7deff;
        }

        p {
          margin-bottom: 0.3rem;
          color: #2e2e2e;
        }

        div {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          width: fit-content;
          margin-inline: auto;
          border-radius: 1rem;
          border: 1px solid #d7deff;
          padding: 0.1rem 0.6rem;
          font-size: smaller;
        }

        div::before {
          content: '';
          width: 8px;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }

        div[data-stauts='active']::before {
          background: #a2ff86;
        }

        div[data-stauts='away']::before {
          background: #eeff00;
        }
      }

      button {
        background: #5b64ef;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        transition: background 0.3s;
      }

      button:hover,
      button:focus {
        background: #4e4feb;
      }
    }
  }
}
