@font-face {
  font-family: '100';
  src: url(../fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: '200';
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: '300';
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: '400';
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: '500';
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: '600';
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: '700';
  src: url(../fonts/Poppins-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: '500';
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: '500';
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 10rem;
}

// @@@@@@@@@@@@@@@ scroll bar @@@@@@@@@@@@@@@
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
  border-radius: 1rem;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 65%);
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 90%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 60%);
}
